/* -------------- Universal stuff --------------- */
:root{
    --kanit-font-family: Kanit, "Open sans", Roboto, arial, sans-serif;

    --accent-color: #d4bf9b;
    --text-gray: #555;
    --gray-bg: #f4f4f4;
}

.columns-3{
    /* column-count: 3 !important; */
    left: -20vh;
}

.fs-1{
    font-size: 74pt !important;
}

.fs-7{
    font-size: 8pt;
}

.cursive{
    font-size: 20pt;
    font-family: "Great Vibes", cursive;
}
h2{
    text-transform: uppercase;
    letter-spacing: 3px;
    font-weight: 300;
    font-size: 24px;
    margin-bottom: 12pt;
    color: var(--text-gray);
}
h3{
    font-weight: 300;
}
h4{
    font-family: var(--kanit-font-family);
    font-size: 18px;
    font-weight: 300;
    margin: 20px 0;
}
p{
    font-weight: 200;
    padding: 8pt 0;
}
.rotate-4deg{
    transform: rotate(-4deg);
}
.percentage::after{
    content: "%";
}

html, body {
    font-family: Kanit, "Open sans", Roboto, arial, sans-serif;
}

section{
    position: relative;
    min-height: 50vh;
}
section:not(.carousel){
    padding: 10vh 0;
    color: var(--text-gray)
}
section:nth-child(even){
    background: var(--gray-bg);
}

section.carousel{
    height: 100vh;
}

button span{
    pointer-events: none;
}

li.nav-item{
    list-style-type: none;
}

.show{
    display: block;
}

a{
    text-decoration: none;
    cursor: pointer;
}

[class*="button"]{
    --button-color: white;
    --button-hover-color: var(--button-color);
    --font-color: black;
    --font-hover-color: var(--font-color);

    background: var(--button-color);

    color:var(--font-color);
    text-transform: uppercase;

    transition-duration: 0.5s;
}
[class*="button"]:not(.slide-button){
    letter-spacing: 2px;
    font-size: 12px;
    padding: 8px 30px;
}
.black-button:not(.slide-button):hover{
    background-color: #555;
}

[class*="button"]:hover{
    background-color: var(--button-hover-color);
    color: var(--font-hover-color);
}

.black-button{
    --button-color: black;
    --font-color: white;
}

.white-button{
    --button-color: white;
    --font-color: black;
}

.outline-button, .outline-button:hover{
    color: var(--button-color);
    border: solid 2px var(--button-color);
    background: none;
}

.play-icon-container{
    --icon-size: 29px;
    --icon-scale: 2;
    margin-top: 10vh;
    height: calc(var(--icon-size) * var(--icon-scale));
    padding-top: 0.1px;
}
.play-icon{
    display: inline-block;

    --border-width: 2px;
    --color: white;

    cursor: pointer;
    transform: scale(var(--icon-scale));
    transition-duration: 0.5s;

    animation: 1s ease slide-in-bottom;
}
.play-icon:hover{
    --color: #bbb;
}
.play-icon::before{
    content: "";
    display: inline-block;

    position: relative;

    height: var(--icon-size);

    border-style: solid;
    border-color: transparent transparent transparent var(--color);
    border-width: 0 0 0 var(--border-width);

    border-right: none;
    transition-duration: inherit;
}
.play-icon::after{
    content: "";
    display: inline-block;

    position: relative;

    margin-left: 0;
    width: var(--icon-size);
    height: var(--icon-size);

    --skew-mag: -15deg;

    border-style: solid;
    border-color: var(--color);
    border-width: var(--border-width) var(--border-width) 0 0;
    left: -15.2px;
    transform:rotate(45deg) skew(var(--skew-mag), var(--skew-mag));
    transition-duration: inherit;
}

.mouse-icon-container{
    --icon-width: 30px;
    --icon-height: calc(var(--icon-width) * 1.7);

    height: var(--icon-height);
}
.mouse-icon{
    display: inline-block;
    padding-top: 0.1px;
    background: transparent;

    border: solid 2px #ddd;
    border-radius: var(--icon-width);

    width: var(--icon-width);
    height: var(--icon-height);
    opacity: 0;

    animation: 1s ease 1s forwards float-in-above;
}
.mouse-icon::before{
    content: "";
    display: block;
    margin: auto;

    --tracker-size: 8px;
    width: var(--tracker-size);
    height: var(--tracker-size);

    border-radius: var(--tracker-size);

    background-color: #ffffffd0;
    animation: 3s linear 0.5s infinite mouse-tracker-animation;
}


/* -------- Dropdowns --------- */
.dropdown-menu{
    column-count: 1;
    overflow: hidden;
    height: 0;
    background-color: transparent;
    border: none;
    text-align: center;
    font-size: smaller;
    padding: 0;
}
.dropdown.active .dropdown-menu{
    height: fit-content;
}
.dropdown.active .dropdown-toggle{
    color: var(--accent-color);
}
.dropdown-menu *{
    background: none !important;
    color: white !important;
}

.dropdown/* :not(.shopping-dropdown) */ .dropdown-menu{
    display: block;
}

.dropdown-toggle::after {
    display: inline-block;

    --dropdown-arrow-size: .4em;
    width: var(--dropdown-arrow-size);
    height: var(--dropdown-arrow-size);
    margin: -.5em 0 0 .4em;
    vertical-align: middle;
    content: "";
    border: .3em solid;
    border-width: 0 1px 1px 0;
    transform: rotateZ(45deg);
}

/* ----- shopping dropdown ----- */

.shopping-dropdown{
    z-index: 1;
}
.shopping-dropdown .dropdown-menu{
    position: absolute;
    right: 0;

    height: auto;

    padding: 20px;
    text-align: left;

    background-color: white;
    border-radius: 0;

    box-shadow: 0 2px 2px 1px rgba(0, 0, 0, 0.3);
}
.shopping-dropdown.active .dropdown-menu{
    animation: 0.5s ease float-in-above;
}
.shopping-dropdown:not(.active) .dropdown-menu{
    animation: 0.5s ease forwards float-out-above;
}
.shopping-dropdown .dropdown-menu *{
    color: var(--text-gray) !important;
}

/* -------------- NAVBAR ---------------- */
.navbar{
    --navbar-transition-duration: 1s;
    transition: var(--navbar-transition-duration);
}

.navbar-nav{
    font-family: "Open sans", Kanit, Roboto, arial, sans-serif;
    --bs-nav-link-font-weight: normal;
    text-transform: uppercase;
    transition: var(--navbar-transition-duration);
}

.navbar-brand img{
    height: 22px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.nav-link{
    color: white;
    padding: 0;
    font-size: 14pt;
    text-align: center !important;
    cursor: pointer;

    --bs-navbar-nav-link-padding-y: 10px;
    padding: var(--bs-navbar-nav-link-padding-y) var(--bs-navbar-nav-link-padding-x);
}
.nav-link, .nav-link:hover, .nav-link:focus{
    color: white;
}

.navbar-toggler{
    z-index: 10000;
    color: black;
    opacity: 1;
    outline: none !important;
}
.navbar-toggler,
.navbar-toggler:active,
.navbar-toggler:focus{
    border:none;
    box-shadow: none;
}
.navbar-nav{
    width: fit-content;
    padding-top: 1em;
    margin-top: auto;
    margin-bottom: auto;
}
.shopping-icon, .search-icon{
    display: none;
    --bs-navbar-nav-link-padding-y: 40px;
    --bs-navbar-nav-link-padding-x: 15px;
}
.shopping-icon::after{
    display: block;

    content: attr(data-cart-item-count);
    background-color: var(--accent-color);
    position: absolute;
    
    --item-count-size: 17px;
    right: 5px;
    width: var(--item-count-size);
    height: var(--item-count-size);
    border: none;
    border-width: 0;
    border-radius: 100%;
    transform: translate(0px, -10px);

    font-size: 8pt;
    line-height: var(--item-count-size);
}

.collapse.navbar-collapse{
    display: none;
    justify-content: center;
    align-content: center;
    overflow: auto;

    background: rgb(0 0 0 / 0.75);
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}
.collapse.navbar-collapse.show{
    z-index: 9900;
    display: flex !important;
}
.navbar.scrolled-navbar{
    padding: 0;
    background-color: white !important;
    border-bottom: solid 1px #ddd;
}
.navbar.scrolled-navbar .navbar-nav{
    padding-top: 0;
}
.navbar.scrolled-navbar .nav-icon {
    --bs-navbar-nav-link-padding-y:25px;
    color: black !important;
    transition: var(--navbar-transition-duration);
}

/* -------------- CAROUSEL ------------------ */
section.carousel .carousel-inner{
    height: 100vh;
}
section.carousel .carousel-item>div{
    background-position: center;
    background-size: cover;
}

.carousel-item.active{
    animation: 1s ease fade-in;
}

.carousel-item:not(.active){
    animation: 1s ease fade-out;
}

.carousel-bg-filter{
    background-color: hsla(255, 22%, 7%, 0.5);
    padding: 30vh 0;
}

.carousel-indicators li{
    --indicator-size: 17px;
    width: var(--indicator-size) !important;
    height: calc(var(--indicator-size) - 1px) !important;
    border-radius: 100%;
    background-color: lightgray !important;
    margin-right: 0;
    margin-left: 0;
}
.carousel-indicators{
    gap: 5px;
}

.fill{
    width: 100%;
    height: 100%;
}

.slide-title{
    transform: rotate(-4deg);
}
.slide-subtitle, .slide-button{
    font-family: Kanit, Roboto, arial, sans-serif;
    text-transform: uppercase;
}
.slide-subtitle-container{
    position: relative;
    padding-top: 0.1px;
    height: calc(1em + 40px);
}
.slide-subtitle{
    --initial-float-in-positin: 40px;
    letter-spacing: 2px;
    animation: 1s ease-out float-in-below;
}
.slide-button{
    padding: 10px 40px;
}
.button-float-in-left{
    margin-right: 40px;
    animation: 1s ease float-in-left;
}

/* ------ ABOUT US SECTION ------ */
.skill-levels-container{
    text-align: center;
}
.progress-circle{
    display: inline-block;
    width: 150px;
    margin: 0 auto;
}
.circle{
    position: relative;
}
.progress-circle .skill-name{
    text-align: center;
    font-weight: 200;
}
.progress-circle .circle .percentage{
    position: absolute;

    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);
}

/* ---- Modern Portfolio section ---- */
#modern-portfolio-section{
    
}

#monitor-carousel{
    margin-top: 30px;
}
#monitor-carousel img{
    display: block;
    width: 100%;
    margin: 0 auto;
    object-fit: contain;
    object-position: center;
}
#monitor-carousel .carousel-indicators{
    margin-bottom: 0;
    bottom: -40px;
}
#monitor-carousel .carousel-indicators li{
    background-color: #444 !important;
}

/* ---- Our services section ---- */
#our-services-section p.this-section{
    max-width: 800px;
}

.service-card{
    text-align: center;
}

.service-card ion-icon{
    font-size: 100px;
    margin: auto;
}

#services-2{
  color: white;
}

#services-2 img.bg-img{
  position:absolute;
  top: -90%;
  left: -69%;
  filter: brightness(30%);
}

#services-2 .container *{
  position: relative;
  z-index: 10;
}

/* ---- RESPONSIVE STUFF ---- */
@media(width >= 576px){
    .shopping-icon, .search-icon{
      display: block;
    }
}

@media(width >= 992px){
    /* ----------- dropdowns ------------ */
    li.dropdown ul.dropdown-menu{
        /* display: none !important; */
        height: auto;

        padding: 20px;
        text-align: left;

        background-color: white;
        border-radius: 0;

        box-shadow: 0 2px 2px 1px rgba(0, 0, 0, 0.3);
    }
    .dropdown-menu *{
        color: var(--text-gray) !important;
    }
    .dropdown-header{
        font-weight: bold;
    } 
    .dropdown-item, .dropdown-header{
        padding: 10px 10px;
    }
    .dropdown:not(.active) .dropdown-item{
        cursor: default;
    }
    .dropdown.active .dropdown-menu{
        animation-name: float-in-above;
        animation-duration: 0.5s;
        animation-timing-function: ease;
        animation-fill-mode: forwards;
    }
    .dropdown:not(.active) .dropdown-menu{
        animation: 0.5s ease forwards float-out-above;
    }
    .dropdown-item:hover{
        background-color: #f7f7f7 !important;
    }
    .navbar.navbar-expand-lg .dropdown-menu.columns-3{
        column-count: 3 !important;
    }
    /* -------------- navbar ----------------- */
    .nav-link{
        font-size: 9pt;
        transition: var(--navbar-transition-duration);
        --bs-navbar-nav-link-padding-y: 40px;
        --bs-navbar-nav-link-padding-x: 15px;
        padding: var(--bs-navbar-nav-link-padding-y) var(--bs-navbar-nav-link-padding-x);
    }
    .navbar.scrolled-navbar .nav-link {
        --bs-navbar-nav-link-padding-y:25px;
        color: black !important;
        transition: var(--navbar-transition-duration);
    }
    .collapse.navbar-collapse{
        position: relative;
        justify-content: end;

        background: none;
        width: fit-content;
        height: fit-content;

        overflow:   visible;
    }

    #about-us-section{
        padding-bottom: 15vh;
    }

    #monitor-carousel{
        margin-top: -25vh;
    }
    #monitor-carousel .carousel-indicators{
        margin-bottom: 0;
        bottom: 0px;
    }
    #monitor-carousel img{
        max-width: 456px;
    }
}